<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">

                <section>
                    <div>
                        <div class="row">
                            <div class="col-3 col-12-small">
                                <h2>Site main pages</h2>
                                <ul class="link-list last-child">
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Our Services</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a></li>
                                </ul>
                            </div>
                            @await Html.PartialAsync("FooterServicesPartial")
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium imp-medium">

                <section>
                    <h2>About a company site</h2>
                    <p>
                        This site was designed for educational purposes. Company site is a site about. 
                    </p>
                </section>

            </div>
        </div>
    </div>
</section>