@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<h2>
    @Model.MetaTitle
</h2>
<div>
    @Html.Raw(Model.Text)
</div>